/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container .grid {
  display: -ms-grid;
  display: grid;
  gap: 2em;
  text-align: center;
  padding: 2em;
}

@media (min-width: 560px) {
  .container .grid {
    -ms-grid-columns: 340px 340px;
    grid-template-columns: 340px 340px;
    padding: 2em;
  }
}

@media (min-width: 1098px) {
  .container .grid {
    grid-template-columns: repeat(3, 340px);
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.img-options {
  margin-bottom: 0.5em;
  min-height: 230px;
  width: 340px;
  -o-object-fit: cover;
  object-fit: cover;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card button {
  position: absolute;
  margin-left: 16px;
  margin-top: 16px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 9%;
  color: rgb(182, 182, 182);
  border: none;
  padding: 0.65em;
  font-weight: bold;
}

.card button:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardText {
  padding-top: 35px;
  padding-right: 35px;
  padding-bottom: 70px;
  padding-left: 35px;
}

.cardText p {
  text-align: left;
}

.cardText p:first-of-type {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.cardText p:last-of-type {
  color: grey;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.cardText span:first-of-type {
  float: left;
  font-weight: bold;
}

.cardText span:last-of-type {
  float: right;
  color: grey;
}

@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}
